<div class="header row">

  <div class="col">
    <button class="shape btn btn-danger">&#9633;</button>
    <button class="shape btn btn-danger">&#9645;</button>
    <button class="shape btn btn-danger">&#x2B2D;</button>
    <button class="shape btn btn-danger">&#9711;</button>
    <button class="shape btn btn-danger">&#9722;</button>
    <button class="shape btn btn-danger">&#9586;</button>
  </div>

  <div class="col">
    <button class="btn btn-dark"> Undo</button>
    <button class="btn btn-dark"> Redo</button>
    <button class="btn btn-dark"> Delete</button>
    <button class="btn btn-dark"> Delete all</button>
    <button id="save" class="btn btn-dark"> Save </button>
    <ul id="save-form">
      <li><button class="btn btn-outline-dark">SaveAsJson</button></li>
      <li><button class="btn btn-outline-dark">SaveAsXml</button></li>
    </ul>
    <button id="load" class="btn btn-dark"> Open</button>
    <ul id="load-form">
      <li><button class="btn btn-outline-dark">OpenJson</button></li>
      <li><button class="btn btn-outline-dark">OpensXml</button></li>
    </ul>
  </div>
</div>
