.field {
  margin-left: 20px;
}

.header {
  background-color: rgb(122, 168, 154);
  position: absolute;
  bottom: 2%;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.shape {
  width: 50px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(122, 168, 154);
  position: absolute;
  min-width: 100px;
  display: none;
  z-index: 1;
  bottom: 40px;
}

#save-form {
  left: 0;
}

#load-form {
  left: 50%;
}

ul::after {
  content: "";
  border: 10px solid;
  border-color: rgb(122, 168, 154) transparent transparent transparent;
  position: absolute;
  bottom: -20px;
  right: 80px;
}

#SaveLoad {
  position: absolute;
  right: 5%;
}
