<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="field">
  <canvas #canvas width="1420" height="500" style="border: 1px solid black;" id="canvas"></canvas>
</div>

<div class="header row">

  <div class="col col-4">
    <button class="shape btn btn-danger" (click)="Dsquare()">&#9633;</button>
    <button class="shape btn btn-danger" (click)="Drectangle()">&#9645;</button>
    <button class="shape btn btn-danger" (click)="Delipse()">&#x2B2D;</button>
    <button class="shape btn btn-danger" (click)="Dcircle()">&#9711;</button>
    <button class="shape btn btn-danger" (click)="Dtriangle()">&#9722;</button>
    <button class="shape btn btn-danger" (click)="Dline()">&#9586;</button>
  </div>

  <div class="col col-2">
    <input type="color" class="btn" id="color-fill" (click)="Cfill()">
    <input type="color" class="btn" id="color-border" (click)="Cborder()">
  </div>

  <div class="col col-4">
    <button class="btn btn-dark" (click)="undo()"> Undo</button>
    <button class="btn btn-dark" (click)="redo()"> Redo</button>
    <button class="btn btn-dark" (click)="Dselect()">Select</button>
    <button class="btn btn-dark" (click)="DeleteSelected()"> Delete Selected</button>
    <button class="btn btn-dark" (click)="deleteAll()"> Delete all</button>
  </div>

  <div id="SaveLoad">
    <button id="save" class="btn btn-dark" (click)="displaySave()"> Save </button>
    <ul id="save-form">
      <li><button class="btn btn-outline-dark" (click)="savejson()">SaveAsJson</button></li>
      <li><button class="btn btn-outline-dark" (click)="savexml()">SaveAsXml</button></li>
    </ul>
    <button id="load" class="btn btn-dark" (click)="displayLoad()"> Open</button>
    <ul id="load-form">
      <li><button class="btn btn-outline-dark" (click)="loadjson()">OpenJson</button></li>
      <li><button class="btn btn-outline-dark"(click)="loadxml()">OpenXml</button></li>
    </ul>
  </div>
</div>
